In [100]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [101]:
# read the first sheet of the excel file
df = pd.read_excel('../datasets/aku_prin_v2.0.xlsx', sheet_name=0)

In [102]:
df.columns

Index(['patient', 'sex', 'birth', 'creatinine_urines mg/dl', 'HGA_u mg/dl',
       'HGA_U mg/24h', 'bqa', 'urate', 'uric_acid_urine', 'tyr_urines',
       'hypoxanthine_urines', 'xanthine_urines', 'Protein change allele 1 ',
       'DNA change allele 1', 'Exon/intron allele 1',
       'Protein change allele 2', 'DNA change allele 2', 'ex/in allele 2',
       'SAA (ug/mL) ', 'chitotriosidase', 'HGA_serum', 'CATD (ng/mL)',
       'IL-6 (pg/mL)', 'IL-1beta (pg/mL)', 'IL-1ra (pg/mL)', 'TNFalfa (pg/mL)',
       'CRP (mg/dL)', 'CRP (Ã¦g/mL) ELISA', 'MMP3 (ng/mL)', 'aopp',
       'glucose(mg/dL)', 'creatinine (mg/dL)', 'cholesterol (mg/dL)',
       'triglycerides  (mg/dL)', 'hdl_cholesterol (mg/dL)',
       'ldl_cholesterol (mg/dL)', 'alkaline_phosphatase (UI/L)',
       'cystatin_C (mg/dL)', 'smoker/cigarettes_a_day', 'alcohol_units_weekly',
       'bmi', 'physical_health_score', 'mental_health_score',
       'AKUSSI_jointpain', 'AKUSSI_spinalpain', 'KOOSpain', 'KOOSsymptoms',
       'KOOSdaily_living', 'KOOSsport', 'KOOS_QOL', 'HAQ_hapVAS', 'HAQ_haqDI',
       'anti_inflammatories', 'painkillers', 'other_drugs', 'nitisinone doses',
       'adverse_event_or_diagnosis', 'creatinine_plasma', 'hga_plasma', 'tyr',
       'phe', 'trp', 'hypoxanthine', 'xanthine', 'uracil', 'uric_acid',
       'nitisinone'],
      dtype='object')

In [103]:
len(df.columns)

67

In [104]:
# get the index of Protein change allele 1 column
df.columns.get_loc('Protein change allele 1 ') +6

18

In [105]:
# get the index of physical_health_score column
df.columns.get_loc('physical_health_score') + 11

52

In [106]:
# create a new dataframe with the columns of interest, from index 12 to 18 and 41 to 52
df2 = df.iloc[:, list(range(12, 18)) + list(range(41, 52))]
df2.head()

,Protein change allele 1,DNA change allele 1,Exon/intron allele 1,Protein change allele 2,DNA change allele 2,ex/in allele 2,physical_health_score,mental_health_score,AKUSSI_jointpain,AKUSSI_spinalpain,KOOSpain,KOOSsymptoms,KOOSdaily_living,KOOSsport,KOOS_QOL,HAQ_hapVAS,HAQ_haqDI
0,G161R,c.481G>A,ex8,His371Profs,c.1111dupC,ex13,26.0,43.0,57.0,75.0,67.0,89.0,75.0,70.0,69.0,63.0,1.50
1,G161R,c.481G>A,ex8,G161R,c.481G>A,ex8,53.0,51.0,29.0,25.0,92.0,96.0,91.0,85.0,75.0,23.0,0.25
2,G161R,c.481G>A,ex8,M368V,c.1102A>G,ex13,23.0,40.0,36.0,100.0,47.0,39.0,31.0,0.0,19.0,53.0,1.75
3,Y6_G29del ivs1-1G>A,c.16-1G>A,in1,Y6_G29del ivs1-1G>A,c.16-1G>A,in1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,G161R,c.481G>A,ex8,G161R,c.481G>A,ex8,23.0,29.0,50.0,100.0,33.0,29.0,60.0,25.0,13.0,70.0,2.00

In [107]:
df2.shape

(219, 17)

In [108]:
# count null values of Protein change allele 1 column
df2['Protein change allele 1 '].isnull().sum()

19

In [109]:
# check if the null value of Protein change allele 1 is the same as Protein change allele 2
df2['Protein change allele 1 '].isnull().sum() == df2['Protein change allele 2'].isnull().sum()

True

In [110]:
# check if tthey are the same indexes

(df2['Protein change allele 1 '].isnull() == df2['Protein change allele 2'].isnull()).all()

False

In [111]:
# print the indexes of the null values
null1 = df2['Protein change allele 1 '][df2['Protein change allele 1 '].isnull()].index

In [112]:
null2 = df2['Protein change allele 2'][df2['Protein change allele 2'].isnull()].index

In [113]:
# merge null1 and null2 in a list without repetition
null = list(set(null1) | set(null2))
len(null)

20

In [114]:
# remove the null indexed rows from the dataframe
df2 = df2.drop(null)

In [115]:
df2.shape

(199, 17)

In [116]:
df2.head()

,Protein change allele 1,DNA change allele 1,Exon/intron allele 1,Protein change allele 2,DNA change allele 2,ex/in allele 2,physical_health_score,mental_health_score,AKUSSI_jointpain,AKUSSI_spinalpain,KOOSpain,KOOSsymptoms,KOOSdaily_living,KOOSsport,KOOS_QOL,HAQ_hapVAS,HAQ_haqDI
0,G161R,c.481G>A,ex8,His371Profs,c.1111dupC,ex13,26.0,43.0,57.0,75.0,67.0,89.0,75.0,70.0,69.0,63.0,1.50
1,G161R,c.481G>A,ex8,G161R,c.481G>A,ex8,53.0,51.0,29.0,25.0,92.0,96.0,91.0,85.0,75.0,23.0,0.25
2,G161R,c.481G>A,ex8,M368V,c.1102A>G,ex13,23.0,40.0,36.0,100.0,47.0,39.0,31.0,0.0,19.0,53.0,1.75
3,Y6_G29del ivs1-1G>A,c.16-1G>A,in1,Y6_G29del ivs1-1G>A,c.16-1G>A,in1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,G161R,c.481G>A,ex8,G161R,c.481G>A,ex8,23.0,29.0,50.0,100.0,33.0,29.0,60.0,25.0,13.0,70.0,2.00

In [117]:
# count the number of 'ex8' value in Exon/intron allele 1 column
df2['Exon/intron allele 1'].value_counts()

Exon/intron allele 1
ex8      55
ex13     21
ex6      18
ex7      14
ex10     12
ex14      8
ex3       8
ex2       7
ex11      7
 in1      6
 ex3      6
ex9       4
 ex13     4
ex12      4
 ex14     3
ex7i      3
ex5       2
in1       2
 ex10     2
in7       2
ex4       2
in8       1
 ex2      1
S47L      1
 ex8      1
in12      1
in5       1
in10      1
in2       1
ex 8      1
Name: count, dtype: int64

In [118]:
# sum all the values that contains "ex" in the string value

df2['Exon/intron allele 1'].str.contains('ex').sum()

183

In [119]:
# get the indexes of the values that contains "in" in the string value
in_indexes = df2['Exon/intron allele 1'][df2['Exon/intron allele 1'].str.contains('in')].index

In [120]:
in_indexes

Index([3, 24, 74, 103, 115, 135, 141, 142, 148, 157, 159, 163, 170, 193, 217], dtype='int64')

In [121]:
# drop the rows which index is in_indexes
df3 = df2.drop(in_indexes)

In [122]:
df3.shape

(184, 17)

In [123]:
# get the index of the elements that does not contain "ex" in the string value
not_ex_indexes = df3['Exon/intron allele 1'][~df3['Exon/intron allele 1'].str.contains('ex')].index

# drop the rows which index is not_ex_indexes
df3 = df3.drop(not_ex_indexes)

not_ex_indexes2 = df3['ex/in allele 2'][~df3['ex/in allele 2'].str.contains('ex')].index

# drop the rows which index is not_ex_indexes
df3 = df3.drop(not_ex_indexes)

KeyError: '[51] not found in axis'

In [ ]:
def is_replace(mutation):

    if mutation[0].isupper() and mutation[-1].isupper() and mutation[1:-1].isdigit(): 
        return True
    return False

In [ ]:
# drop the rows that does not contain a replacement mutation
df4 = df3[df3['Protein change allele 1 '].apply(is_replace)]
df4.shape

(146, 17)

In [ ]:
df4 = df4[df4['Protein change allele 2'].apply(is_replace)]

In [99]:
df4.shape

(116, 17)

In [124]:
df4

,Protein change allele 1,DNA change allele 1,Exon/intron allele 1,Protein change allele 2,DNA change allele 2,ex/in allele 2,physical_health_score,mental_health_score,AKUSSI_jointpain,AKUSSI_spinalpain,KOOSpain,KOOSsymptoms,KOOSdaily_living,KOOSsport,KOOS_QOL,HAQ_hapVAS,HAQ_haqDI
1,G161R,c.481G>A,ex8,G161R,c.481G>A,ex8,53.0,51.0,29.0,25.0,92.0,96.0,91.0,85.0,75.0,23.0,0.25
2,G161R,c.481G>A,ex8,M368V,c.1102A>G,ex13,23.0,40.0,36.0,100.0,47.0,39.0,31.0,0.0,19.0,53.0,1.75
4,G161R,c.481G>A,ex8,G161R,c.481G>A,ex8,23.0,29.0,50.0,100.0,33.0,29.0,60.0,25.0,13.0,70.0,2.00
5,G161R,c.481G>A,ex8,G161R,c.481G>A,ex8,26.0,31.0,50.0,100.0,44.0,29.0,32.0,35.0,13.0,71.0,1.88
6,S47L,c.140C>T,ex3,S47L,c.140C>T,ex3,38.0,53.0,29.0,100.0,78.0,93.0,71.0,25.0,44.0,50.0,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,G161R,c.481G>A,ex8,F227S,c.680T>C,ex10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,P230S,c.688C>T,ex10,P230S,c.688C>T,ex10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,K353Q,c.1057A>C,ex13,G360R,c.1078G>C,ex13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,R53Q,C158G>A,ex3,R53Q,C158G>A,ex3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,E168K,c.502G>A,ex 8,E168K,c.502G>A,ex 8,26.0,61.0,29.0,50.0,64.0,86.0,66.0,30.0,44.0,40.0,1.50

In [133]:
# return the indexes of the elements that have the same value in both columns 
same_change = df4[df4['Protein change allele 1 '] == df4['Protein change allele 2']].index
print(len(same_change))
# do the same for exon/intron columns
same_exon = df4[df4['Exon/intron allele 1'] == df4['ex/in allele 2']].index
print(len(same_exon))

# count how many indexes are in both lists
indexes = set(same_change) & set(same_exon)

# print the df4 elements that are in the indexes list
df4.loc[list(indexes)]

78
76

,Protein change allele 1,DNA change allele 1,Exon/intron allele 1,Protein change allele 2,DNA change allele 2,ex/in allele 2,physical_health_score,mental_health_score,AKUSSI_jointpain,AKUSSI_spinalpain,KOOSpain,KOOSsymptoms,KOOSdaily_living,KOOSsport,KOOS_QOL,HAQ_hapVAS,HAQ_haqDI
128,A122V,c.365C>T,ex6,A122V,c.365C>T,ex6,24.0,50.0,29.0,25.0,44.0,61.0,25.0,20.0,50.0,100.0,1.88
1,G161R,c.481G>A,ex8,G161R,c.481G>A,ex8,53.0,51.0,29.0,25.0,92.0,96.0,91.0,85.0,75.0,23.0,0.25
129,A122V,c.365C>T,ex6,A122V,c.365C>T,ex6,40.0,60.0,14.0,25.0,78.0,86.0,75.0,85.0,63.0,0.0,0.00
4,G161R,c.481G>A,ex8,G161R,c.481G>A,ex8,23.0,29.0,50.0,100.0,33.0,29.0,60.0,25.0,13.0,70.0,2.00
5,G161R,c.481G>A,ex8,G161R,c.481G>A,ex8,26.0,31.0,50.0,100.0,44.0,29.0,32.0,35.0,13.0,71.0,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,R53Q,c.158G>A,ex3,R53Q,c.158G>A,ex3,37.0,40.0,21.0,50.0,83.0,93.0,87.0,80.0,75.0,75.0,0.88
112,P230S,c.688C>T,ex10,P230S,c.688C>T,ex10,39.0,32.0,50.0,75.0,64.0,54.0,65.0,5.0,19.0,30.0,1.13
114,G123A,c.368G>C,ex6,G123A,c.368G>C,ex6,29.0,37.0,71.0,50.0,44.0,50.0,52.0,40.0,56.0,35.0,1.75
122,G161R,c.481G>A,ex8,G161R,c.481G>A,ex8,NaN,NaN,14.0,0.0,100.0,100.0,100.0,100.0,100.0,30.0,0.13
127,A122V,c.365C>T,ex6,A122V,c.365C>T,ex6,28.0,47.0,29.0,25.0,53.0,82.0,52.0,NaN,63.0,50.0,1.13

In [134]:
# count unique values of Protein change allele 1 column
df4['Protein change allele 1 '].nunique()

38